<?xml version="1.0" encoding="UTF-8"?>
<!-- This config is in addition to the standard logback.xml -->
<included>
    <appender name="exampleExtensionLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/example_extension.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>

    <logger name="org.rws.example" level="DEBUG">
        <appender-ref ref="exampleExtensionLog"/>
    </logger>
</included>